<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>BBS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1>All tasks</h1>
      <table class="table table">
        <tr>
          <th width="30%"">TITLE</th>
          <th width="70%">DESCRIPTION</th>
        </tr>
        <% for (var i=0;i < posts.length;i++) { %>
          <tr>
            <td><%= posts[i].title %></td>
            <td><%= posts[i].content %></td>
          </tr>
        <% }%>
      </table>
      
      <hr class="mb-4">
      <div class="text-right">
        <a class="btn btn-primary" href="/newtask" role="button">Add new task</a>
      </div>
    </div>
  </body>
</html>